<style>
  h1 {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
  }
  h3 {
    color: greenyellow;
    font-family: "Times New Roman", Times, serif;
  }
  p {
    font-family: Georgia, "Times New Roman", Times, serif;
  }
</style>

<main>
  <h1>Immanuel is Codding</h1>
  <h3>Angular</h3>
  <p>This is the new language that i'm learning</p>
  <h3>Java</h3>
  <p>Was the first language i learned</p>
  <h3>Python</h3>
  <p>Tried python for some projects and it could get the job done quite fast</p>
</main>
